.navigation {
    position:relative;
    background-color: beige;
    height: 40%;
    width: 70%;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px
}

li{
    color: black;
    textDecoration: 'none';
    padding:3px;
}

a {
    color: black;
  }

li:hover{
    transform: scale(1.1);
}

ul{
    list-style:none;
    font-family:Helvetica
}