.pokemon-thumbnail {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  background-color: #22262e;
  border-radius: 15px;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 1);
}

.pokemon-thumbnail-container {
  padding: 2vw;
  box-shadow: 1px;
}

.pokemon-thumbnail:hover {
  cursor: pointer;
}

.pokemon-name {
  font-size: 24px;
  color: white;
}

.silhouette {
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
  opacity: 0.6;
}
